{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb-base"],
  "globals": {
    "document": false
  },
  "parserOptions": {},
  "rules": {
    "linebreak-style": ["error", "windows"],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": false
      }
    ]
  }
}
