body {
  background-color: rgb(0, 0, 0);
}

#main {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 900px;
  height: 250px;
  opacity: 0; 
  transition: 3s; /*Скорость перехода состояния элемента*/
  animation: show 5s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0s; /* Задержка перед началом */
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#textarea {
  margin: 10px auto;
  width: 900px;
  height: 350px;
  margin-bottom: 15px;
  font-size: 30px;
  resize: none;
  background-color: rgba(39, 40, 41, 0.61);
  color: rgb(255, 255, 255);
  border: 5px solid rgba(177, 176, 176, 0.685);
  outline: none;
}

section {
  color: black;
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 0 6px 6px 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-position: center;
  background-color: rgba(34, 35, 36, 0.671);
  background: linear-gradient(to top, #fdfdfd, #7e7e7e);
  background-position: left;
  border-radius: 3px;
  font-weight: 800;
  user-select: none;
}

section:hover {
  display: flex;
  border: 1px solid rgb(253, 29, 29);
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 866px;
  height: 284px;
  background-color: #f7f3f3;
  padding: 6px 0px 6px 6px;
}

#Backspace {
  width: 104px;
}

#Tab {
  width: 104px;
}

#CapsLock {
  width: 77px;
}

#Enter {
  width: 77px;
}

#ShiftLeft {
  width: 104px;
}

#Space {
  width: 393px;
}

#ShiftRight {
  width: 108px;
  animation: 5s move;
}

.change {
  color: honeydew;
  border: 1px solid rgb(253, 29, 29);
  background: linear-gradient(to top, #252525, #505050);
  transition: all 0.1s ease-in-out;
  border-radius: 40px;
}

.change-special {
  color: honeydew;
  height: 42px;
  margin: 4px 6px 6px 0;
  background: linear-gradient(to top, #252525, #505050);
  border: 1px solid rgb(253, 29, 29);
  transition: all 0.1s ease-in-out;
}

.changeCaps {
  color: rgb(253, 29, 29);
  height: 42px;
  border: 1px solid rgb(253, 29, 29);
  margin: 4px 6px 6px 0;
  background: linear-gradient(to top, #252525, #505050);
  transition: all 0.1s ease-in-out;
}

.upperCase {
  text-transform: uppercase;
}

#descriptionKeyboard {
  position: absolute;
  color: #f7f3f3;
  margin: 41px 0px 0 -375px;
  font-size: 17px;
}